NODE_ENV=development
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=google/gemini-2.0-flash-001
OPENROUTER_SITE_URL=http://localhost:3000
OPENROUTER_APP_NAME=ChakriGO
NEXT_PUBLIC_VAPI_WEB_TOKEN=
NEXT_PUBLIC_VAPI_WORKFLOW_ID=
NEXT_PUBLIC_POSTHOG_HOST=
EXA_API_KEY=
JUDGE0_API_KEY=
JUDGE0_API_URL=
NEXT_PUBLIC_API_URL=
TAVILY_API_KEY=